@import "common.css";

header, footer {
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    height: 60px;
}

main {
    background: #E1DCD9;
    padding: 60px 60px 60px 200px;
}

a {
    text-decoration: none;
}

header a:link {
    color: white;
}

header a:visited {
    color: antiquewhite;
}

main a:link {
    color: darkgoldenrod;
}

main a:visited {
    color: lightcoral;
}

h1 {
    font-size: 60px;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 20px;
}

ol {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.main-content img {
    width: 30%;
}
.main-content p {
    padding-bottom: 30px;
}

h2 {
    padding: 20px;
}

@media (max-width: 900px) {
    header h1 {
        font-size: 30px;
    }

    main {
        padding: 30px 30px 30px 30px;
    }

    .main-content img {
        width: 70%;
    }
}